### Import libraries

In [1]:
import os 
import numpy as np 
import pandas as pd 
import scipy as sp

### Data Analysis
Print the files in the dataset directory

In [7]:
#dirname: Current directory
# _: subdirectories in the current directory (list)
#filenames: the file names in the current directory (list)
for dirname, _, filenames in os.walk('dataset'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

dataset/classicRec.png
dataset/.DS_Store
dataset/Users.csv
dataset/recsys_taxonomy2.png
dataset/Ratings.csv
dataset/DeepRec.png
dataset/Books.csv
dataset/delete/.DS_Store

In [8]:
books = "dataset/Books.csv"
ratings = "dataset/Ratings.csv"

Preview the dataset

In [10]:
#Read the CSV using pandas
books_set = pd.read_csv(books)
books_set.head()

/var/folders/zq/7w6ngfy92097zy2dy24pp7v80000gn/T/ipykernel_30292/4041506356.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_set = pd.read_csv(books)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [11]:
#Read the CSV using pandas
ratings_set = pd.read_csv(ratings)
ratings_set.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

Get information about the shape of the datasets

In [13]:
#Get the number of rows and columns in the dataset

print(f"book set (row, col): {books_set.shape}")
print(f"rating set (row, col): {ratings_set.shape}")

book set (row, col): (271360, 8)

rating set (row, col): (1149780, 3)

Get metadata about the dataset

In [14]:
print("Books:\n")
print(books_set.info())
#Print separator line
print("\n","*"*50,"\nRating:\n")
print(ratings_set.info())

Books:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB
None

 **************************************************
Rating:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
None

Find the missing values

In [17]:
# 1: missing values
# 0: non-missing values
ratings_null_sum = ratings_set.isnull().sum()
print((ratings_null_sum.sort_values(ascending = False)/len(ratings_set.index))*100)

User-ID        0.0
ISBN           0.0
Book-Rating    0.0
dtype: float64

In [21]:
# 1: missing values
# 0: non-missing values
books_null_sum = books_set.isnull().sum()
print((books_null_sum.sort_values(ascending = False)/len(books_set.index))*100)

Image-URL-L            0.001106
Publisher              0.000737
Book-Author            0.000369
ISBN                   0.000000
Book-Title             0.000000
Year-Of-Publication    0.000000
Image-URL-S            0.000000
Image-URL-M            0.000000
dtype: float64

In [22]:
#the most appeared author
print(books_set['Book-Author'].mode())

0    Agatha Christie
Name: Book-Author, dtype: object

In [26]:
book_df = pd.merge(ratings_set, books_set)

print(book_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031136 entries, 0 to 1031135
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031136 non-null  int64
 1   ISBN                 1031136 non-null  object
 2   Book-Rating          1031136 non-null  int64
 3   Book-Title           1031136 non-null  object
 4   Book-Author          1031135 non-null  object
 5   Year-Of-Publication  1031136 non-null  object
 6   Publisher            1031134 non-null  object
 7   Image-URL-S          1031136 non-null  object
 8   Image-URL-M          1031136 non-null  object
 9   Image-URL-L          1031132 non-null  object
dtypes: int64(2), object(8)
memory usage: 86.5+ MB
None

In [28]:
book_df=book_df[~np.isnan(book_df["Book-Rating"])]

print(np.isnan(book_df["Book-Rating"]))

0          False
1          False
2          False
3          False
4          False
           ...
1031131    False
1031132    False
1031133    False
1031134    False
1031135    False
Name: Book-Rating, Length: 1031136, dtype: bool